main {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;

  .side-bar, .discover {
    position: relative;
    width: 25%;
    background-color: #0b101c;
    box-shadow: 5px 0 2px #090f1f;
  }

  .height-music {
    height: 90%;
  }

  .side-bar {
    padding-top: 110px;

    .categories {
      padding-left: 20px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      margin-bottom: 40px;

      .active {
        color: #36e2ec;

        span {
          display: none;
        }

        img {
          display: flex;
          margin-right: 20px;
        }
      }

     h4 {
        font-weight: 100;
        color: #4c5767;
        transition: .3s linear;
        font-style: italic;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          color: #fff;
        }

        &:hover span::before {
          border: 2px solid #fff;
        }

        span {
          position: relative;
          margin-right: 35px;

          &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border: 2px solid #4c5262;
            border-radius: 50%;
            top: -4px;
            transition: .3s linear;
          }
        }

        img {
          display: none;
        }
      }
    }

    .songs {
      flex-direction: column;
      position: fixed;
      overflow: auto;
      width: 25.28%;
      padding-bottom: 4vh;
      height: 62vh;

      li {
        position: relative;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        transition: .3s linear;

        &:hover {
          background: rgb(105, 105, 170, .1);
        }

        span {
          color: #4c5262;
          font-size: 14px;
        }

        img {
          margin-left: 25px;
          width: 32px;
          height: 32px;
        }

        .song-details {
          h5 {
            font-size: 11px;
            margin-left: 15px;

          }

          p {
            font-size: 9px;
            padding-top: 5px;
            color: #4c5262;
            margin-left: 15px;
          }
        }

        .playico {
          border: 1px solid #343434;
          border-radius: 50%;
          position: absolute;
          transition: .1s linear;
          width: 20px;
          height: 20px;
          right: 15px;
          top: 16px;

          &:hover {
            transform: scale(.85);
          }
        }
      }
    }
  }

  .video-links {
    justify-content: space-between;
    flex-direction: column;
    height: 15vh;
    align-items: start;
    margin-left: 20px;
    width: 25vh;

    li {
      font-weight: 100;
      color: #4c5767;
      transition: .3s linear;
      font-style: italic;
      cursor: pointer;
      display: flex;
      font-size: 14px;

      &:hover {
        color: #fff;
      }

      img {
        margin-right: 20px;
      }
    }
  }

  .aboutUs {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 13px;

    li {
      color: #4c5262;
      margin-bottom: 10px;
      transition: .3s linear;

      &:hover {
        color: #fff;
      }
    }
  }

  .discover {
    padding-left: 30px;
    //z-index: 3;
    width: 75%;
    background: #010812;
    box-shadow: 1px -1px 8px #022983;
    border-radius: 10px 0 0 10px;
  }

  .artiste-details {
    flex-direction: column;
    padding: 25px 0 10px 40px;
    padding-left: 30px;
    z-index: 3;
    width: 75%;
    height: 90%;
    background: #010812;
    box-shadow: 1px -1px 8px #022983;
    border-radius: 10px 0 0 10px;

    .artist-id {
      display: flex;
      align-items: center;
      height: 20vh;
      gap: 50px;
      margin-bottom: 20px;

      .artist-img {
        height: 100%;
        width: 20%;
        border-radius: 20px;
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        p {
          color: #4c5767;
          font-size: 13px;
        }
      }

      .exit-icon {
        position: absolute;
        transition: .3s linear;
        padding: 10px;
        border-radius: 50%;
        right: 30px;
        top: 30px;

        &:hover {
          background: rgb(105, 105, 170, .1);
        }
      }
    }

    .artist-songs {
      flex-direction: column;
      position: fixed;
      overflow: auto;
      width: 70%;
      height: 60vh;

      li {
        position: relative;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        transition: .3s linear;

        &:hover {
          background: rgb(105, 105, 170, .1);
        }

        img {
          margin-left: 25px;
          width: 32px;
          height: 32px;
        }

        .song-details {
          h5 {
            font-size: 11px;
            margin-left: 15px;
          }

          p {
            font-size: 9px;
            padding-top: 5px;
            color: #4c5262;
            margin-left: 15px;
          }
        }
      }
    }
  }

  .master-play {
    bottom: 0px;
    position: absolute;
    width: 100%;
    background: #0f172d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    height: 10.5%;
    z-index: 3;

    .wave {
      height: 30px;
      padding-bottom: 5px;
      justify-content: center;
      border-radius: 5px 5px 0 0;
      display: flex;
      align-items: flex-end;
      margin-right: 10px;

      .wave1 {
        width: 4px;
        height: 8px;
        border-radius: 10px 10px 0 0;
        background: #36e2ec;
        animation: wave unset;

        &:not(:last-child) {
          margin-right: 3px;
        }

        &:nth-child(2), &:nth-child(4), &:nth-child(6) {
          height: 11px;
        }

        &:nth-child(3), &:nth-child(7) {
          height: 14px;
        }
      }
    }

    img {
      width: 35px;
      height: 35px;
    }

    .details {

      h5 {
        width: 130px;
        font-size: 13px;
        margin-left: 15px;
        line-height: 15px;
      }

      p {
        font-size: 11px;
        color: #4c5262;
        width: 130px;
        margin-left: 15px;
      }
    }

    .icons {
      font-size: 20px;
      color: #fff;
      margin: 0 20px 0 40px;

      img {
        cursor: pointer;
        outline: none;
        width: 20px;
        height: 20px;

        &:nth-child(2) {
          border: 1px solid rgb(105, 105, 170, .1);
          border-radius: 50%;
          padding: 1px 1px 0 2px;
          margin: 0 5px;
          transition: .3s linear;
        }
      }
    }

    span {
      width: 32px;
      font-size: 11px;
      font-weight: 400;

      .current-start {
        margin: 0 0 0 20px;
      }
    }

    .bar {
      position: relative;
      width: 30%;
      height: 2px;
      background: rgb(105, 105, 170, .1);
      margin: 0 15px 0 10px;

      input {
        position: absolute;
        width: 100%;
        top: -4px;
        left: 0;
        cursor: pointer;
        z-index: 20;
        transition: .3s linear;
        opacity: 0;
      }

      .bar2 {
        position: absolute;
        background: #36e2ec;
        width: 0;
        height: 100%;
        top: 0;
      }

      .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #36e2ec;
        border-radius: 50%;
        left: 0;
        top: -1px;
        transition: 1s linear;

        &::before {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          border: 1px solid #36e2ec;
          border-radius: 50%;
          left: -6px;
          top: -6px;
          box-shadow: inset 0 0 3px #36e2ec;
          transition: 1s linear;
        }
      }
    }

    .vol {
      position: relative;
      width: 100px;
      height: 2px;
      margin-left: 50px;
      background: rgb(105, 105, 170, .1);

      img {
        position: absolute;
        top: -17px;
        left: -30px;
        width: 20px;
      }

      input {
        position: absolute;
        width: 100%;
        top: -10px;
        left: 0;
        cursor: pointer;
        z-index: 20;
        transition: .3s linear;
        opacity: 0;
      }

      .vol-bar {
        position: absolute;
        background: #36e2ec;
        width: 0;
        height: 100%;
        top: 0;
        transition: .3s linear;
      }

      .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #36e2ec;
        border-radius: 50%;
        left: 0;
        top: -1px;
        transition: 1s linear;

        &::before {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          border: 1px solid #36e2ec;
          border-radius: 50%;
          left: -6px;
          top: -6px;
          box-shadow: inset 0 0 3px #36e2ec;
          transition: 1s linear;
        }
      }
    }
  }

  .about-section {
    position: absolute;
    padding: 30px 40px;
    bottom: 0;
    background: url("/images/background/about-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(45deg, black, #5127628a, black);
    transition: .5s linear;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card {
      background: white;
    }

  }
}

/*================================
Vendor prefixes
==================================*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
/*================================
JavaScript class wave
=================================*/
main .master-play .active2 .wave1 {
  animation: wave .5s linear infinite;
}
main .master-play .active2 .wave1:nth-child(2), main .master-play .active2 .wave1:nth-child(4), main .master-play .active2 .wave1:nth-child(6) {
  animation-delay: .4s;
}
main .master-play .active2 .wave1:nth-child(3), main .master-play .active2 .wave1:nth-child(7) {
  animation-delay: .8s;
}