* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: white;
}

body {
  background: #0f172d;
}

.search-form {
  position: relative;
  z-index: 3;

  img {
    position: absolute;
    width: 12px;
    left: 10px;
    top: 8px;
  }

  #search-bar {
    background: rgb(184, 184, 184, .1);
    min-width: 300px;
    min-height: 28px;
    border-radius: 20px;
    padding: 0 10px 0 33px;
  }
}

button {
  position: relative;
  width: 100px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #36e2ec;
  color: #36e2ec;
  transition: .05s linear;
  height: 25px;
  z-index: 3;

  &:hover {
    color: #fff;
    cursor: pointer;
    background: #36e2ec;
  }
}

/*=========================================
Mobile menu Styles
=========================================*/
.menu-icon {
  cursor: pointer;

  span {
      @include width-height ("26px", "2px");
      background: var(--text-color-dark);
      transition: transform .4s;
      display: block;

      &:not(:last-child) {
          margin-bottom: 5px;
      }
  }
}
/*=========================================
Menu Open Action
=========================================*/
.menu-open {

  span:first-child {
      transform: translateY(6px) rotate(45deg);
      background-color: var(--cta);
      transform-origin: 45%;
  }

  span:nth-child(2) {
      opacity: 0;
  }

  span:last-child {
      transform: translateY(-6px) rotate(-45deg);
      background-color: var(--cta);
      transform-origin: 45%;
  }
}
/*=========================================
Menu Links Action
=========================================*/
.nav-open {

  &.mobile-menu {
      transform: translateX(0);
  }
}
/*=========================================
Mobile menu Styles
=========================================*/
.mobile-menu {
  @include width-height ("70%", "100%");
  background: rgba(0, 0, 0, 0.39);
  transform: translateX(500px);
  border-radius: 5px 0 0 5px;
  text-align: center;
  font-size: 22px;
  position: fixed;
  transition: .3s;
  z-index: 20;
  right: 0;
  top: 0;

  ul {
      @include Display-justify ("flex", "center");
      @include width-height ("100%", "100%");
      flex-direction: column;

      li:last-child {
          margin-right: 30px;
      }

      li{
          padding: 20px 0;
          transition: .3s;

          a {
              color: var(--background-light-gray);
              transition: .3s;
          }

          &:hover {
              background: rgb(0 0 0 / 36%);
              border-radius: 0 20px 20px 0;

              a{
                  color: var(--cta);
              }
          }
      }
  }
}

.cta-on {
  color: #fff;
  transform: scale(.98);
  background: #36e2ec;
}

.movie-edits {
  height: 25vh !important;
}

.reg-heit {
  width: .1px;
  height: .1px;
}

.in-view {
  width: 100%;
  height: 82%;
  z-index: 5;
}