.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;

  .logo a {
    font-size: 18px;
    font-style: italic;
    color: #bbbbe7;

    span {
      font-size: 26px;
      font-weight: 700;
      color: #00BCD4;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 95%;

  .links {
    display: inline-flex;
    gap: 30px;
    z-index: 3;
    font-size: 16px;
    cursor: pointer;

    .li {
      transition: .3s linear;
      color: #4c5767;

      &:hover {
        color: #fff;
      }
    }

    .on {
      color:#36e2ec;
    }
  }
}